$breakpoint-mobile-xs: 0px;
$breakpoint-mobile-sm: 320px;
$breakpoint-mobile-md: 360px;
$breakpoint-mobile-lg: 425px;
$breakpoint-mobile-xl: 576px;

// Plus size phones e.g. OnePlus 7 Pro or Iphone Plus range
$breakpoint-mobile-plus-size-width: 375;
$breakpoint-mobile-plus-size-height-min: 700px;
$breakpoint-mobile-plus-size-height-max: 900px;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktop-xl: 1200px;

$breakpoint-mobile-landscape-height-min: 320px;
$breakpoint-mobile-landscape-height-max: 600px;
